<!DOCTYPE html>
<html lang="en">
    <head>

      <meta charset="UTF-8">
      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

      <title>
        React Facebok Login Demo
      </title>

      <style media="screen">
        /*
        body {
         background-color: #EEEEEE;
        }
         */

        * {
          margin: 0;
          padding: 0;
        }

        button {
          position: absolute;
          top: 10%;
          right: 5%;
          margin-top: -24px;
          margin-left: -125px;
        }
      </style>

      {{ JSGlue.include() }}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    </head>

    <body>

      <div class="demo" id="demo"></div>

      <script src="{{ url_for('static', filename='bundle.js') }}"> </script>

    </body>

</html>
